.about-section {
  padding: 20px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.about-section img {
  width: 500px;
  animation: about-anim 2s infinite alternate-reverse;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  max-width: 30%;
}

@keyframes about-anim {
  100% {
    transform: rotate(5deg) translateY(5px);
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .about-section img {
    max-width: 100%;
  }

  .about-info {
    max-width: 80%;
    padding-bottom: 50px;
    gap: 20px;
  }

  .about-info h1 {
    padding-bottom: 30px;
    font-size: 3rem;
  }
}
