.arts-main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-top: 1px solid var(--color-3);
  border-bottom: 1px solid var(--color-3);
  background-color: white;
  padding: 20px;
  min-height: 380px;
}

.arts-main-container h2 {
  font-size: 3rem;
}

.arts-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.art-card {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 290px;
}

.art-card button {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.18) 0 2px 4px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 280px;
  height: 280px;
  padding: 10px;
  transition: 0.3s;
}

.art-card button:hover {
  width: 290px;
  height: 290px;
}

.art-card:hover img {
  scale: 1.05;
}

.art-card img {
  max-width: 240px;
  max-height: 240px;
  transition: 0.3s;
}
