.arts-main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-top: 1px solid pink;
  background-color: white;
  padding: 20px;
  min-height: 380px;
}

.arts-main-container h2 {
  font-size: 3rem;
}

.arts-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.art-card {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 260px;
  height: 260px;
  transition: 0.7s;
}

.art-card:hover {
  height: 270px;
  width: 270px;
}

.art-card:hover img {
  width: 250px;
}

.art-card img {
  width: 240px;
  transition: 0.7s;
}
