.contact-section {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 50px;
}

.contact-section .contact-link-container {
  width: 100%;
}

.contact-section .contact-link img {
  filter: invert(52%) sepia(28%) saturate(1086%) hue-rotate(296deg)
    brightness(86%) contrast(94%);
}

.contact-art {
  width: 500px;
  animation: pendulum 2s infinite alternate-reverse;
}

.contact-info {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  max-width: 30%;
}

@keyframes pendulum {
  100% {
    transform: rotate(5deg);
  }
}

@media screen and (max-width: 800px) {
  .contact-section {
    flex-direction: column;
    align-items: center;
  }

  .contact-section img {
    width: 300px;
  }

  .contact-info {
    max-width: 80%;
    padding-bottom: 50px;
  }
}
