
.main-header {
  position: relative;
  height: 400px;
  background-image: url("../images/headerBg.png");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.logo {
  height: 400px;
  width: 100%;
	scale: 0.7;
  background-image: url("../images/ass.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
	translate: 0 -5px;
	animation: logo-anim 3s infinite alternate-reverse;
}

@keyframes logo-anim {
  100% {
		translate: 0 10px;
  }
}

@media screen and (max-width: 850px) {
  .logo {
    background-size: cover;
		scale: 1;
  }
}
